.resmenu {
  background-color: #010101;
  padding: 25px 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 66% !important;
  z-index: 500;
  height: 100rem;
  .logo {
    padding-bottom: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 120px;
      cursor: pointer;
    }
    div ion-icon {
      color: #f1f1f1;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .artbox {
    text-align: left;
    padding-bottom: 20px;
    width: 100%;
    .link:hover {
      color: #fff;
      transition: all ease 1s;
    }
    .link {
      display: flex;
      font-family: AvenirLTStd-Heavy;
      align-items: center;
      width: 100%;
      margin-top: 25px;
      color: rgb(192, 192, 192);
      font-size: 14px;
    }
  }
  .linkbox {
    text-align: left;
    padding-bottom: 20px;
    .link:hover {
      color: #fff;
      transition: all ease 1s;
    }
    .link {
      display: flex;
      font-family: AvenirLTStd-Heavy;
      align-items: center;
      width: 100%;
      margin-top: 9px;
      color: #c0c0c0;
      font-size: 14px;
      .icon {
        padding-right: 11px;
        font-size: 25px;
      }
      a {
        color: rgb(192, 192, 192);
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
  .border {
    background-color: rgba(155, 155, 155, 0.185);
    border: 0;
    width: 91%;
    height: 0.1px;
  }
}
