@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("font/AvenirLTStd-Heavy.otf");
}
@font-face {
  font-family: AvenirLTStd-Black;
  src: url("font/AvenirLTStd-Black.otf");
}
.resultbox {
  background: linear-gradient(to bottom, rgb(31, 31, 31) 0%, rgb(15, 15, 15) 44%);
  padding: 14px 20px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
.resultbox .titlebox {
  text-align: left;
  width: 100%;
  color: #fff;
  font-family: AvenirLTStd-Black;
  font-size: 30px;
}
.resultbox .headerbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.resultbox .headerbox .arrowbox {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.resultbox .headerbox .arrowbox .back,
.resultbox .headerbox .arrowbox .forw {
  margin-right: 12px;
  border-radius: 50px;
  color: #e0e0e0;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5960784314);
  font-size: 21px;
}
.resultbox .headerbox .userbox {
  flex: 1;
  background-image: unset;
}
.resultbox .headerbox .userbox .user {
  display: flex;
  width: 140px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6431372549);
  border-radius: 50px;
  padding: 2px;
  height: 30px;
}
.resultbox .headerbox .userbox .user .icon {
  color: #fff;
  background-color: #5e5e5e;
  border-radius: 50px;
  text-align: center;
  padding: 3px 2px;
  width: 25px;
  height: 100%;
}
.resultbox .headerbox .userbox .user .infobox {
  color: #fff;
  width: 78px;
  font-size: 15px;
  padding-left: 8px;
  font-family: AvenirLTStd-Heavy;
  display: flex;
  align-items: center;
}
.resultbox .headerbox .userbox .user .infobox .name {
  padding-right: 8px;
}
.resultbox .headerbox .userbox .user .arrow ion-icon {
  color: #fff;
  font-size: 17px;
}
.resultbox .bradbox {
  text-align: left;
  margin: 35px 0;
  width: 100%;
}
.resultbox .bradbox .item {
  color: #706f6f;
  text-decoration: none;
}
.resultbox .resultflex {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.resultbox .resultflex .resultmusic:hover .play #icon {
  opacity: 1;
  transition: all ease-out 1s;
}
.resultbox .resultflex .resultmusic:hover {
  background-color: #1f1e1e;
  transition: all ease 1s;
}
.resultbox .resultflex .resultmusic {
  width: 9.5rem !important;
  border-radius: 6px;
  margin-top: 20px;
  height: 13rem;
  background-color: #181818;
  margin-right: 25px;
  filter: drop-shadow(1px 2px 18px rgba(24, 24, 24, 0.6862745098));
  cursor: pointer;
  padding: 12px;
}
.resultbox .resultflex .resultmusic .play {
  position: absolute;
  top: 0px;
  z-index: 1;
  right: 0px;
}
.resultbox .resultflex .resultmusic .play #icon {
  color: #0f0f0f;
  opacity: 0;
  font-size: 25px;
  text-align: center;
  padding: 11px;
  background-color: #1db954;
  border-radius: 50px;
}
.resultbox .resultflex .resultmusic .play #action {
  color: #0f0f0f;
  font-size: 25px;
  text-align: center;
  padding: 11px;
  background-color: #1db954;
  border-radius: 50px;
}
.resultbox .resultflex .resultmusic .cover {
  width: 100%;
  height: auto;
  margin: 0px auto;
}
.resultbox .resultflex .resultmusic .cover img {
  cursor: pointer;
  width: 100%;
  height: 8rem;
  border-radius: 3px;
  filter: drop-shadow(1px 5px 12px rgba(0, 0, 0, 0.555));
}
.resultbox .resultflex .resultmusic .infobox {
  text-align: left;
  padding-top: 6px;
}
.resultbox .resultflex .resultmusic .infobox .name,
.resultbox .resultflex .resultmusic .infobox .singer:hover {
  text-decoration: underline;
}
.resultbox .resultflex .resultmusic .infobox .name {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: AvenirLTStd-Heavy;
  text-decoration: none;
}
.resultbox .resultflex .resultmusic .infobox .singer {
  color: #969696;
  font-size: 13px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}/*# sourceMappingURL=Result.css.map */