@font-face {
	font-family: AvenirLTStd-Heavy;
	src: url("../font/AvenirLTStd-Heavy.otf");
}
@font-face {
	font-family: AvenirLTStd-Black;
	src: url("../font/AvenirLTStd-Black.otf");
}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
	background: #a09f9f;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.contentbox,
.musicbox,
.singerbox {
	background: linear-gradient(180deg, #1b1b1b 0%, rgb(12, 12, 12) 100%);
	padding: 14px 20px;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;

	.loadbox {
		text-align: center;
		position: fixed;
		right: 0;

		width: 82%;
		z-index: 300;
		height: 100%;
		padding-top: 14rem;
		img {
			width: 70px;
			cursor: pointer;
		}
	}
	.headerbox {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.arrowbox {
			flex: 6;
			display: flex;
			align-items: center;
			justify-content: left;
			cursor: pointer;
			.back,
			.forw {
				margin-right: 12px;
				border-radius: 50px;
				color: #e0e0e0;
				padding-top: 3px;
				padding-bottom: 1px;
				padding-right: 8px;
				padding-left: 8px;
				text-align: center;
				background-color: #00000098;
				font-size: 21px;
			}
		}

		.userbox {
			flex: 1;
			background-image: unset;
			cursor: pointer;
			.logoutbox {
				position: absolute;
				top: 50px;
				right: 50px;
				background-color: #292828;
				border-radius: 3px;
				width: 10rem;
				height: 2.7rem;
				cursor: pointer;
				padding: 5px 0;
				color: #d3d2d2;
				.logout {
					padding: 4px 10px;
					width: 100%;
					height: 30px;
				}
				.logout:hover {
					background-color: #68686831;
					transition: all ease 0.5s;
				}
			}
			.user {
				display: flex;
				width: auto;
				align-items: center;
				background-color: #000000a4;
				border-radius: 50px;
				padding: 2px;
				height: 30px;
				justify-content: space-between;
				.icon {
					color: #fff;
					background-color: #5e5e5e;
					border-radius: 50px;
					text-align: center;
					padding: 3px 2px;
					width: 28px;
					height: 100%;
				}
				.infobox {
					color: #fff;
					width: auto;
					font-size: 15px;
					padding-left: 8px;
					font-family: AvenirLTStd-Heavy;
					display: flex;
					align-items: center;
					.name {
						padding-right: 8px;
					}
				}
				.arrow {
					ion-icon {
						color: #fff;
						font-size: 17px;
					}
				}
			}
		}
	}
	.welbox {
		width: 100%;
		margin: 35px 0px;
		height: auto;
		padding-bottom: 25px;
		.welhead {
			color: #fff;
			font-family: AvenirLTStd-Black;
			font-size: 30px;
			text-align: left;
		}

		.welflex {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin: 0;
			padding: 0;
			.welmusic:hover .play #icon {
				opacity: 1;
				transition: all ease-in 0.8s;
			}
			.welmusic:hover {
				background-color: #555454a8;
			}
			.welmusic {
				margin-right: 15px;
				margin-top: 14px;
				flex: 31%;
				border-radius: 4px;
				background-color: #4949496c;
				display: flex;
				align-items: center;
				cursor: pointer;
				height: 74px;
				filter: drop-shadow(2px 2px 5px #00000027);
				.cover {
					flex: 0.6;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						border-top-left-radius: 4px;
						border-bottom-left-radius: 4px;
						filter: drop-shadow(4px 4px 9px #0000003f);
					}
				}
				.infobox {
					padding-left: 10px;
					color: #fff;
					flex: 1.5;
					font-family: AvenirLTStd-Heavy;
					font-size: 14px;
					.name {
						color: #fff;
					}
				}
				.play {
					flex: 0.5;

					#icon {
						color: #0f0f0f;
						opacity: 0;
						font-size: 25px;
						text-align: center;
						padding: 11px;
						background-color: #1db954;
						border-radius: 50px;
					}
					#action {
						color: #0f0f0f;
						font-size: 25px;
						text-align: center;
						padding: 11px;
						background-color: #1db954;
						border-radius: 50px;
					}
				}
			}
		}
	}

	.generbox {
		width: 100% !important;
		margin: 35px 0;
		height: 17rem;
		padding: 0;

		.generhead {
			color: #ffffff;
			font-size: 21px;
			font-family: AvenirLTStd-Black;
			padding-bottom: 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 99%;

			.seeall {
				color: #a7a7a7;
				font-size: 12px;
				font-family: AvenirLTStd-Heavy;
				cursor: pointer;
				text-decoration: none;
			}
			.seeall:hover {
				text-decoration: underline;
			}
		}

		.generswiper {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			.generslide:hover .play #icon {
				opacity: 1;
				transition: all ease-out 1s;
			}

			.generslide:hover {
				background-color: #1f1e1e;
				transition: all ease 1s;
			}
			.generslide {
				width: 9.5rem !important;
				border-radius: 6px;
				height: 13rem;
				background-color: #181818;
				margin-right: 22px;
				-webkit-filter: drop-shadow(1px 2px 18px #1818188a);
				filter: drop-shadow(1px 2px 18px #181818af);
				cursor: pointer;
				padding: 12px;
				.play {
					position: absolute;
					top: 0px;
					z-index: 1;
					right: 0px;

					#icon {
						color: #0f0f0f;
						opacity: 0;
						font-size: 25px;
						text-align: center;
						padding: 11px;
						background-color: #1db954;
						border-radius: 50px;
					}
					#action {
						color: #0f0f0f;
						font-size: 25px;
						text-align: center;
						padding: 11px;
						background-color: #1db954;
						border-radius: 50px;
					}
				}
				.cover {
					width: 100%;
					height: auto;
					margin: 0px auto;
					img {
						cursor: pointer;
						width: 100%;
						height: 8rem;
						border-radius: 3px;
						filter: drop-shadow(1px 5px 12px rgba(0, 0, 0, 0.555));
					}
				}
				.infobox {
					text-align: left;
					padding-top: 6px;
					.name,
					.singer:hover {
						text-decoration: underline;
					}
					.name {
						color: #fff;
						font-size: 14px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						font-family: AvenirLTStd-Heavy;
						text-decoration: none;
					}
					.singer {
						color: #969696;
						font-size: 13px;
						padding-top: 3px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}

@media only screen and(min-width:200px) and (max-width: 1024px) {
	.headerbox {
		display: none !important;
	}
	.contentbox {
		width: 100% !important;
		height: 69rem !important;
		.welbox {
			margin: 70px 10px !important;
		}
		.generbox {
			margin: 40px 10px !important;
		}
	}
	.welbox {
		margin-top: 70px !important;

		.welmusic {
			height: 40px !important;
			.infobox {
				font-size: 11px !important;
			}
			.play ion-icon {
				padding: 5px !important;
				font-size: 14px !important;
			}
		}
	}
	.loadbox {
		width: 100% !important;
	}
}
