@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("../font/AvenirLTStd-Heavy.otf");
}
@font-face {
  font-family: AvenirLTStd-Black;
  src: url("../font/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: AvenirLTStd-Light;
  src: url("../font/AvenirLTStd-Light.otf");
}
.singerbox {
  padding: 14px 0;
  height: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #56275f 0%, #0f0f0f 84%);
  .bradbox {
    width: 95%;
    padding-top: 30px;
    margin: 0 auto;
    .item {
      color: #bebebe;
      text-decoration: none;
    }
  }
  .headerbox {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .arrowbox {
      flex: 6;
      display: flex;
      align-items: center;
      justify-content: left;
      cursor: pointer;
      .back,
      .forw {
        margin-right: 12px;
        border-radius: 50px;
        color: #e0e0e0;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-right: 8px;
        padding-left: 8px;
        text-align: center;
        background-color: #00000098;
        font-size: 21px;
      }
    }

    .userbox {
      flex: 1;
      background-image: unset;
      .user {
        display: flex;
        width: auto;
        align-items: center;
        background-color: #000000a4;
        border-radius: 50px;
        padding: 2px;
        height: 30px;
        .icon {
          color: #fff;
          background-color: #5e5e5e;
          border-radius: 50px;
          text-align: center;
          padding: 3px 2px;
          width: 28px;
          height: 100%;
        }
        .infobox {
          color: #fff;
          width: auto;
          font-size: 15px;
          padding-left: 8px;
          font-family: AvenirLTStd-Heavy;
          display: flex;
          align-items: center;
          .name {
            padding-right: 8px;
          }
        }
        .arrow {
          ion-icon {
            color: #fff;
            font-size: 17px;
          }
        }
      }
    }
  }

  .singerhead {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 18rem;
    padding-top: 15px;
    padding-left: 27px;
    padding-bottom: 10px;
    .cover {
      flex: 1.4;
      height: 93%;
      img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(4px 5px 8px #0000003b);
        cursor: pointer;
        border-radius: 50%;
      }
    }
    .infobox {
      flex: 5;
      text-align: left;
      padding-top: 60px;
      padding-left: 18px;

      .veribox {
        font-family: AvenirLTStd-Heavy;
        color: #e4e4e4;
        font-size: 14px;
        cursor: pointer;
        align-items: center;
        display: flex;
        ion-icon {
          color: rgb(68, 137, 228);
          padding-right: 5px;
          font-size: 20px;
        }
      }
      .name {
        color: #e4e4e4;
        font-size: 80px;
        font-family: AvenirLTStd-Black;
        font-weight: bold;
      }
      .listenbox {
        font-family: AvenirLTStd-Light;
        color: #e4e4e4;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .singerfooter {
    text-align: left;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #0a0a0a59 0%, #0f0f0f 84%);
    padding: 20px 25px;
    .playboxsinger {
      text-align: left;
      padding: 0;
      width: 16%;

      .btnbox {
        padding: 0px;
        .follow {
          color: #ffffff;
          border: 1px solid #ffffff44;
          border-radius: 25px;
          padding: 6px 18px;
          font-size: 13px;
          cursor: pointer;
          background-color: inherit;
          font-family: AvenirLTStd-Heavy;
          width: auto;
        }
        .follow:hover {
          transform: scale(1.1);
          transition: all eae 0.5s;
        }
      }
    }
  }
  .topbox {
    padding-top: 20px;
    width: 100%;
    height: 57%;

    .tophead {
      color: #fff;
      font-weight: bold;
      font-family: AvenirLTStd-Black;
      cursor: pointer;
      text-align: left;
      font-size: 23px;

      width: 100%;
      padding-bottom: 15px;
    }
    .topflex {
      width: 100%;
      height: 18.5rem;
      overflow: hidden;
      padding: 0;
      .topmusic:hover {
        background-color: #adadad2f;
      }
      .topmusic:hover .viewbox {
        color: #fbfbfb;
      }

      .topmusic:hover .firstbox .play {
        color: #fff;
      }
      .topmusic {
        display: flex;
        height: 60px;
        align-items: center;

        width: 100%;
        padding: 4px 15px;
        cursor: pointer;
        border-radius: 4px;
        .firstbox {
          display: flex;
          align-items: center;
          justify-content: left;
          flex: 2;
          .hide {
            display: none;
          }
          .play {
            color: #aaa7a7;
            font-size: 18px;
          }
          .number {
            color: #aaa7a7;
            font-size: 16px;
            font-family: AvenirLTStd-Light;
          }
          .cover {
            width: 77px;
            height: 43px;
            padding: 0px 17px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .infobox {
            cursor: pointer;
            text-align: left;
            .name {
              // color: #fff;
              // font-size: 14px;
              // font-family: AvenirLTStd-Light;
              // font-weight: 500;
              // text-overflow: ellipsis;
              // white-space: nowrap;
              color: #fff;
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: AvenirLTStd-Heavy;
              text-decoration: none;
            }
          }
        }

        .viewbox {
          color: #b1abab;
          font-size: 14.3px;
          font-family: AvenirLTStd-Light;
          flex: 1;
        }
        .time {
          color: #b1abab;
          font-size: 14.3px;
          font-family: AvenirLTStd-Light;
          flex: 0.1;
        }
      }
    }
    .controlbox {
      padding-top: 15px;
      width: 100%;
      text-align: left;

      button {
        color: #a09e9e;
        font-size: 13px;
        font-family: AvenirLTStd-Black;
        font-weight: bold;
        cursor: pointer;
        border: 0;
        background-color: inherit;
        outline: none;
      }
      button:hover {
        color: #dfdfdf;
      }
    }
  }
}
.messbox {
  position: absolute;
  bottom: 10%;
  text-align: center;
  margin: 0px auto;
  left: 50%;
  z-index: 300;
  .text {
    background-color: #2567e2;
    color: #ffff;
    border-radius: 7px;
    filter: drop-shadow(2px 3px 4px #00000050);
    cursor: pointer;
    padding: 10px 20px;
    width: auto;
  }
}
#anim {
  animation: animheart ease 1s;
}

@keyframes animheart {
  0% {
    font-size: 35px;
  }
  100% {
    font-size: 40px;
  }
}
#hide {
  opacity: 0;
  transition: all ease 1.5s;
}

@media only screen and (min-width: 250px) and (max-width: 1024px) {
  body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
  }
  .singerbox {
    padding: 35px 0 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;

    .bradbox {
      margin: 5px auto !important;
      width: 90% !important;
    }
  }
  .singerhead {
    height: auto !important;
    padding: 0 !important;
    flex-direction: column !important;
    margin: 5px auto !important;
    width: 90% !important;
    .cover {
      margin: 20px auto !important;
      width: 50% !important;
      img {
        width: 100% !important;
        height: 50% !important;
      }
    }
    .infobox {
      padding-top: 0 !important;
      text-align: left !important;

      .name {
        padding: 15px 0 !important;
        font-size: 30px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .singerfooter {
    width: 100% !important;
    height: auto !important;
    margin-top: 15px !important;
    .playboxsinger {
      width: 15% !important;
    }
    .generbox {
      margin-top: 60px !important;
      height: 17rem !important;
    }

    .topmusic .firstbox .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .topmusic .viewbox,
    .topmusic .time {
      display: none;
    }
  }
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
  .singerhead .infobox .name {
    font-size: 27px !important;
  }
  .topmusic .firstbox .name {
    font-size: 13px !important;
  }
}

.messbox {
  position: absolute;
  bottom: 10%;
  text-align: center;
  margin: 0px auto;
  left: 50%;
  z-index: 300;
  .text {
    background-color: #2567e2;
    color: #ffff;
    border-radius: 7px;
    filter: drop-shadow(2px 3px 4px #00000050);
    cursor: pointer;
    padding: 10px 20px;
    width: auto;
  }
}
